.auth__main{
    align-items: center;
    background-color: $primary;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.auth__box-container{
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 15px $dark-grey;
}

.auth__input{
    width: 100%;
    border: none;
    border-bottom: 1px solid $light-grey;
    margin: 7px auto;
    transition: 0.4s ease;
    color: $dark-grey;

    &:focus{
        outline: none;
        border-bottom: 1px solid $dark-grey
    }
}

.auth__title{
    margin-bottom: 10px;
    color: darken($color: $primary, $amount: 20);
}

.google-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }
    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        float: right;
        margin: 11px 40px 0 0;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}