*{
  font-family: Victor Mono;
  font-weight: bold;
}

body{
  padding: 10px;
}

@media (min-width:600px) {
  body{
    padding: 60px;
  }
}

input{
  width: 100%;
  padding: 5px;
  font-size: 1.5rem;
  color: grey;
}

#items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid grey ;
  border-radius: 6px;
  margin: 30px auto;
  justify-content: center;
  max-height: 300px;
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 250px;
  max-width: 450px;
  margin: auto;
}