html,body{
    color: white;
    background-color: #21232A;
    font-weight: bolder;
    font-size: 1.3rem;
    text-align: center;
}

button{
    padding: 10px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;

}